.hex {
  display: inline-block;
  height: 130px;
  width: 120px;
  background-size: 120px 130px;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 790px) or (max-height: 700px) {
  .hex {
    height: 80px;
    width: 60px;
    background-size: 60px 60px;
  }
}

@media only screen and (max-width: 650px) {
  .hex {
    height: 52px;
    width: 52px;
    background-size: 52px 52px;
  }
}
