.number {
  padding: 5px 3px 0 1px;
  font-size: 1.8em;
  background: #ffffc1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 35px;
  left: 35px;
  text-align: center;
}

@media (max-width: 768px) or (max-height: 700px) {
  .number {
    padding: 1px 2px 0 1px;
    font-size: 0.9em;
    width: 20px;
    height: 20px;
    top: 18px;
    left: 20px;
  }
}

@media only screen and (max-width: 413px) {
  .number {
    padding: 0 1px 1px 1px;
    font-size: 0.9em;
    width: 18px;
    height: 18px;
    top: 15px;
    left: 16px;
  }
}
