.game {
  height: 300px;
  width: 80%;
  overflow-y: scroll;
  padding: 100px;
  background-color: white;
  border: 4px solid black;
  border-radius: 4px;
  position: relative;

  &__button {
    position: fixed;
    bottom: 60px;
    left: calc(50% - 125px);
  }

  &__top{
    position: fixed;
    top: 50px;
    right: 130px;

    .img{
      width: 50px;
      cursor: pointer;
      transition: width .4s;
      &:hover{
        width: 53px;
      }
    }
  }
}

.button{
  width: 250px;
  height: 50px;
  background-color: black;
  color: whitesmoke;
  font-size: 1.3em;
  border-radius: 20px;
  transition: transform .6s;
  &:hover{
    transform: scale(1.02);
  }
}